/* To do List */

/*****


                                TEST CCS PAGE TO TRY NEW FEATURES



****/

 /* Test Style Sheet For Sand Trap */

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}

.parallax__layer--deep {
  transform: translateZ(-2px) scale(3);
}

.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
  transform: translate3d(700px, 0, -800px) rotateY(30deg);
}



















/*** END OF TEST FEATURE SECTION  ***/

.mobileBanner, a.mobile:link, .mobile, .mobileCorrection, .mobileLogoImage, #mobileFeature {
	
	display: none;
	
}

ul, dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}




h1, h2, h3, h4, h5, h6  {
	
	color: #32CD32;
	text-align: center;
	
}
 dt, dd, li {
	 
	 text-align: center;
	 padding: 5px;
	 line-height: 2.0em;
	 
	 
 }
 
 dt {
   font-weight: bold;
 }
 
 img {
	 
	 max-width: 100%;
	 display: inline-block;
	 margin: auto;
 }

 header {
	 
	 display: block;
	 width: 100%;
	 margin: 0 auto;
	 
 }
 
 main {
	 
	 display: block;
	 font-family: 'Gloria Hallelujah', cursive;
	 font-size: 1em;
	 
	 }
	 
	 body {
	   
	   height: 100%;
	   
	 }
 
  footer {
	
	background-color: black;
	text-align: center;
	color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 100%;
	display: block;
	
}
  #spacing {
    
    padding: 30px;
    
    
  }
  
  #containerHeader {
	  
	 width: 95%;
	 margin-top: -15px;
	 margin-left: auto;
	 margin-right: auto;
	 background-color: white;
	 
 }
  
  
  
  #container {
	  
	 width: 95%;
/*NEW margin-top: 25px; Disabled*/
	 margin-left: auto;
	 margin-right: auto;
	 background-color: white;
/*NEW	 padding-top: 100px; (added in to help correct page title spacing) Disabled */
	 /* background-color: green;   used to show boundary */
	 
 }
 
 #menu {
	
	
	/* width: 95%; */
	margin-top:10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: dashed;
	border-width: 5px;
	padding-top: 20px;
	padding-bottom: 50px;
	background-color: white;  /* used to show boundary */
	
	 
 }
 
 #menuBottom { /* Used to remove solid border line */
	 
	margin-top:10px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 20px;
	
 }
 	
 	#content {
/*NEW*/margin-top: -5px;
	margin-left: auto;
  margin-right: auto;
  padding: 5px;
  overflow: auto;
  
}

/* NEW Disabled
 
 #feature, #footer {
	
	margin: 1%;
	
} */


 	
 #feature, .article {
	
	text-align: left; /* changed value... view on larger display to insure it works properly ***/
  /** text-align-last: center; not sure why this was added in ***/
  padding: 25px;
	margin-bottom: 5px;
	background-color: #efefef;
	line-height: 1.4em;
	

}
 	
 	
 	
 /* #topBanner {
   
  background-image: url("...images/logoMini.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
 } */
 

/************** Liquid Layout ******************/

 /* Style for the nav specifies text properties */
		nav {
		  
				font-family: 'Montserrat', sans-serif;
				font-size: 1.25em;
				font-weight: bold;
				text-align: center;
/*NEW*/ height:100px;
				
			}
 
 
 
 /* Style specifies margin and padding for the unordered list within the nav */
		nav ul {
		  
			margin: 0;
			padding-left: 0.50%;
			padding-right: 0.50%;
			
		}
			
	/* Style for nav list items specifies a border radius, border, margin, width, and padding (Adds spacing around links) */
		nav li {
			
			background-color: black;
			list-style-type: none;
			display: inline;
			float: left;
			white-space: nowrap;
			border-radius: 0;
			border-top: solid black;
			border-bottom: solid black;
			margin-left: auto;
			margin-right: auto;
			padding: 10px 0px 10px 0px;
			width: 20%;
			
		}
			
	/* Style for nav links specifies display and padding (creates a unified bar in desktop view)*/
		nav li a {
		  
			display: inline-block;
			padding: 0.7em;
			color: #7CFC00;
			text-decoration: none;
			
		}

body {
	
	max-width: 100%;
	margin: auto;
	background-color: black;
	
}

/******** Class Section ********/

  .logoImage {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    max-height: 100%;
    
    
  }
 
 
 .textCorrection {
   
  text-align: left; /* changed value... view on larger display to insure it works properly ***/
  text-align-last: center;
  padding: 25px;
	margin-bottom: 5px;
	background-color: #efefef;
	line-height: 1.4em;
   
   
 }
 
 .drinks {
   
   text-align: center;
   
 }

.button {
  
    background-color: #32CD32;
    border-style: outset;
    border-color: lightgreen;
    border-radius: 2em;
    color: #000000;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1.2em;
    margin-top: 20px;
    margin-left: 40%;
    margin-right: 40%;
    cursor: pointer;
    
}

    
  .column1, .column2, .column3 {
	
	width: 31.3%;
	float: left;
	margin: 1%;
	overflow: hidden;

	
}

.column3 {
	margin-right: 0%;
}
	
	
