.pops h1,
.pops h2,
.pops h3,
.pops h4 {
  line-height: 1.2;
  padding: 1rem;
}

.pop {
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  /* display: none; */
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  padding-top: 50px;
  width: 100%;
  z-index: 10000;
}

.pop > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 1000px;
  min-height: 100px;
  vertical-align: middle;
  width: 80%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}

/* .pop > div > img {
  max-height: 70vh;
  width: 80%;
} */

.pop-img{
  max-height: 70vh;
}

.popupCloseButton {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 35px;
  line-height: 45px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: red;
}
.popupCloseButton:hover {
  background-color: #ccc;
}
.trigger_popup_fricc {
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
  display: inline-block;
  font-weight: bold;
}

.flex {
  display: flex;
  justify-content: center;
}

